/* Colors */
:root {
   --primaryColor: #ffa51d;
   --primaryBlack: #111111;
   --seconderyCream: #f5dea8;
   --lightGreen: #b5e48c;
   --mainWhite: #ffffff;
   --seconderyText: #2f3e46;
}

/* Globel styles */
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   transition: all 0.2s ease-in-out;
}

body {
   color: var(--primaryBlack);
   font-family: "Poppins", sans-serif;
}

a {
   text-decoration: none;
   color: var(--primaryBlack);
}

ul {
   list-style: none;
}

button {
   display: flex;
   align-items: center;
   justify-content: center;
   font-weight: 500;
   font-size: 0.95em;
   cursor: pointer;
   border-radius: 4px;
}

input:focus {
   outline: none;
}

textarea:focus {
   outline: none;
}

h1,
h2 {
   transition: all ease-in-out 0.2s;
}

/* style classes */
.flex {
   display: flex;
   align-items: start;
}

.center {
   display: flex;
   align-items: center;
   justify-content: center;
}

.between {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.between-y {
   display: flex;
   width: 100%;
   flex-direction: column;
   align-items: start;
   justify-content: space-between;
}

.column {
   display: flex;
   flex-direction: column;
}

.start {
   display: flex;
   align-items: start;
   justify-content: start;
   flex-direction: column;
}

.wrap {
   flex-wrap: wrap;
}

.w-100 {
   width: 100%;
}

.w-50 {
   width: 50%;
}

.vh-100 {
   height: 100vh;
}

.vh-50 {
   height: 50vh;
}

.padding-x {
   padding-left: 150px;
   padding-right: 150px;
}

.padding-y {
   padding-top: 70px;
   padding-bottom: 70px;
}

.marging-x {
   margin-left: 150px;
   margin-right: 150px;
}

.marging-y {
   margin-top: 70px;
   margin-bottom: 70px;
}

.pt {
   padding-top: 50px;
}

.g-1 {
   gap: 10px;
}

.g-2 {
   gap: 20px;
}

.g-3 {
   gap: 30px;
}

.g-4 {
   gap: 40px;
}

.g-5 {
   gap: 50px;
}

.g-8 {
   gap: 80px;
}

/* Local styles */

/* Navigation bar */
.navbar {
   position: fixed;
   height: 10vh;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 150px;
   top: 0;
   left: 0;
   background-color: transparent;
   color: #fff;
   z-index: 1000000;
}

.navbar h3 {
   font-size: 1.5em;
}

.navbar a {
   font-size: 0.95em;
   color: var(--primaryBlack);
   font-weight: 500;
}

.navbar .logo h3 {
   text-transform: uppercase;
   font-weight: 500;
}

.navbar a:hover {
   font-weight: 600;
}

.navbar .nav-links {
   display: flex;
   align-items: center;
   gap: 20px;
}

.navbar .n-link {
   color: #fff;
}

.navbar a:hover {
   color: var(--primaryPink);
}

.navbar .log-btn {
   background-color: transparent;
   border: 2px solid #fff;
   padding: 8px 25px;
   border-radius: 2px;
}

.navbar .log-btn:hover {
   background-color: rgba(225, 225, 225, 0.5);
}

/* Hero Section */

.hero {
   background-image: linear-gradient(
         90deg,
         rgba(0, 0, 0, 0.7) 40%,
         rgba(0, 0, 0, 0.01)
      ),
      url(./assets/hero-2.jpg);
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
}

.hero h1 {
   font-size: 3em;
   width: 50%;
   text-transform: capitalize;
   color: #fff;
   font-weight: 800;
   text-align: center;
}

.hero p {
   color: #c5c5c5;
   word-spacing: 7px;
}

.hero input {
   width: 500px;
   height: 50px;
   border-radius: 40px 0 0 40px;
   border: none;
   padding: 0 20px 0 30px;
}

.hero button {
   width: 100px;
   height: 50px;
   border: none;
   border-radius: 0 40px 40px 0;
   background-color: var(--primaryBlack);
   color: #fff;
}

/* About */
.about img {
   width: 100%;
   height: 550px;
   object-fit: cover;
   object-position: center;
   border-radius: 10px;
}

.about .about-text {
   height: 550px;
}

.about h2 {
   font-size: 2.7em;
}

.about p {
   font-size: 16px;
   text-align: justify;
   line-height: 26px;
}

.about button {
   background-color: #111;
   color: #fff;
   width: 150px;
   height: 45px;
   border-radius: 5px;
   border: none;
}

.about button:hover {
   background-color: #222;
}

/* foods */
.food h2 {
   font-size: 2.7em;
   width: 60%;
   text-align: center;
}

.food-box {
   width: 21%;
   margin-top: 20px;
}

.search-display p {
   position: absolute;
   top: 20px;
   right: 20px;
   cursor: pointer;
   font-size: 20px;
   font-weight: 500;
}

.foood {
   gap: 5%;
}

.food-box img {
   width: 100%;
}

.food-box h4 {
   font-size: 1em;
   font-weight: 500;
}

.food-box h3 {
   font-size: 1.1em;
   color: #fc1552;
}

.food a {
   width: 100%;
}

.food-box button {
   width: 100%;
   border: none;
   padding: 6px;
   border-radius: 0;
   color: #222;
   font-weight: 500;
   font-size: 14px;
}

.food-box button:hover {
   background-color: #a1a1a1;
}

.search-display {
   position: fixed;
   z-index: 999;
   background-color: rgba(0, 0, 0, 0.7);
}

.search-display-area {
   background-color: #fff;
   padding: 50px;
   border-radius: 10px;
   box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
   position: relative;
}

/* Reservations */
.res {
   padding-top: 50px;
   padding-bottom: 50px;
   color: #fff;
   height: 700px;
   background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url(./assets/hero-2.jpg);
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
}

.res h2 {
   font-size: 2.7em;
}

.res p {
   font-size: 16px;
   line-height: 26px;
   text-align: justify;
}

.res form {
   width: 50%;
   background-color: #fff;
   border-radius: 10px;
   padding: 60px;
}

.res h4 {
   color: #222;
   margin-bottom: 30px;
   text-align: center;
   font-size: 1.5em;
}

.res input {
   width: 100%;
   height: 40px;
   padding: 0 20px;
   border: 1px solid #e3e4e7;
   border-radius: 5px;
}

.res textarea {
   width: 100%;
   height: 100px;
   padding: 20px;
   border: 1px solid #e3e4e7;
}

.res select {
   border-radius: 5px;
   width: 100%;
   height: 40px;
   border: 1px solid #e3e4e7;
   padding: 3px 20px;
}

.res-btn {
   background-color: #111;
   color: #fff;
   font-size: 17px;
   cursor: pointer;
}

.res-btn:hover {
   background-color: #222;
}

.line {
   background-color: #e3e4e7;
   width: 100%;
   height: 0.5px;
}

.res h5 {
   font-size: 1.3em;
   font-weight: normal;
}

/* offers */
.offer {
   background-image: linear-gradient(
         90deg,
         rgba(0, 0, 0, 0.2) 30%,
         rgba(0, 0, 0, 1)
      ),
      url(./assets/offer-bg.jpg);
   background-position: center;
   background-size: cover;
   color: #fff;
}

.offer h2 {
   font-size: 4em;
}

.offer p {
   font-size: 20px;
}

.offer button {
   width: 200px;
   height: 50px;
   border: none;
   background-color: #fff;
   color: #111;
   font-weight: 600;
}

.offer button:hover {
   background-color: #d8d8d8;
}

/* footer */
footer {
   background: #111;
   color: #898989;
   margin-top: 70px;
}

.footer {
   align-items: start;
   justify-content: space-between;
   display: flex;
   padding-top: 70px;
   padding-bottom: 30px;
}

footer a {
   color: #898989;
}

.footer a:hover {
   color: var(--mainOrange);
}

footer .sub-link {
   align-items: start;
   justify-content: start;
   display: flex;
   flex-direction: column;
}

footer .line {
   width: 90%;
   height: 1px;
   background-color: #464646;
}

footer .copyright {
   padding: 15px 0;
}

footer input {
   height: 35px;
   padding: 5px 10px;
   width: 220px;
   border: none;
   border-radius: 3px 0 0 3px;
}

footer input:focus {
   outline-style: none;
}

footer button {
   height: 35px;
   width: 70px;
   border: none;
   border-radius: 0 3px 3px 0;
   background-color: #6b6b6b;
   color: #111;
   font-weight: 600;
   text-transform: uppercase;
   font-size: 12px;
   color: #464646;
}

footer img {
   cursor: pointer;
   opacity: 1;
}

/* notify */
.notify {
   z-index: 999999999;
   background-color: rgba(0, 0, 0, 0.8);
   position: fixed;
   top: 0;
   left: 0;
}

.notify .msg-area {
   background-color: #fff;
   padding: 40px;
   width: 300px;
   border-radius: 10px;
   box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
   position: relative;
}

.notify .msg-area button {
   background-color: #111;
   color: #fff;
   padding: 5px 20px;
   width: 60px;
   height: 30px;
   border-radius: 5px;
   font-size: 12px;
   border: none;
}

.notify p {
   text-align: center;
}
